{% extends "base.html" %}
{% block body_block %}
<form method="POST" action="#">
  {% csrf_token %}
    {{ form }}
  <!-- <select name="city" id="city">
    <option value="city">Нижний Новгород</option>
  </select>
  <select name="rayon" id="rayon">
    <option value="rayon">Нижегородский</option>
  </select>


  <input type=text name="lon", placeholder="Долгота">
  <input type=text name="lat", placeholder="Широта">
  <input type=text name="zhil_sq", placeholder="Жилая площадь, кв.м">



  <select name="rooms" id="floors">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="5+">5+</option>


  </select>

  <input type=submit name="press" value="OK"> -->
</form>


{% endblock %}
