{% extends "base.html" %}
{% block content %}
{% if user.is_authenticated %}
  <div class= 'container'>
    <div class = 'row'>
    <div class='col-sm-6'>
      <div class ='features_form'>
        <form method="POST" action="#">
          {% csrf_token %}
            <table class='table-borderless'>
              {{ form }}

            </table>
            <button type="submit" class="score_btn">Ok</button>
        </form>
      </div>
      <div class = 'res_table'>
        <table class="table" style="width:521px">
          <thead class="thead-dark">
          <tr>
            <th scope="col">K-Nearest Neighbors</th>
            <th scope="col">Random Forest</th>
            <th scope="col">CatBoost</th>
          </tr>
          <tr>
            <td>{{ res.preds_knn }}</td>
            <td>{{ res.preds_rfr }}</td>
            <td>{{ res.preds_cbr }}</td>
          </tr>
            </<thead>
        </table>
      </div>
    </div>
    <div class= 'col-sm-9'>{{ map|safe }}</div>
    </div>
  </div>
{% endif %}
{% endblock %}
